@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Slab:wght@100..900&display=swap');


body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0A5D76;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.play-button {
    background-color: white;
    color: #1a1a1a;
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    width: 250px;
    height: 50px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}

.play-button:hover{
    color: #ff4655; 
    transform: scale(1.1);
    transition: color 0.3s, transform 0.3s;
}

.nav-button:hover{
    color: #ff4655;
    transform: scale(1.1);
}

.nav-button::after, .play-button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff4655;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button:hover::after, .play-button:hover::after {
    width: 100%;
}

.nav-button.active, .play-button.active {
    font-weight: bold;
    color: #ff4655;
}

.nav-button.active::after, .play-button.active::after {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    color: white;
    height: 70px;
    background-color: #1a1a1a;
    -webkit-filter: drop-shadow(0 0 10px #000);
    filter: drop-shadow(0 0 10px #000);
    align-items: center;
    font-family: 'Righteous', cursive;
    z-index: 1000;

    span {

        padding: 10px 15px;
        text-shadow: 2px 2px 4px #000;
        font-weight: 800;
    }

    .profile_header {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: right;
        font-size: 22px;
        font-weight: 300;
        padding: 10px 15px;
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 0.8;

        img {
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.5);
            margin: 0 auto;
            margin-right: 20px;
        }

        .username {
            display: flex;
            margin-right: 15px;
            align-items: flex-end;
            flex-direction: column;
            position: relative;
            top: 5px;

            .name {
                display: flex;
            }

            .status_container {
                display: flex;
                align-items: center;
                text-align: right;

            }

            .status-circle {
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-right: -10px;
            }

            .status-text {
                font-weight: 100;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: bold;
            }
        }
    }
}

.main_body {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#main {
    margin-right: 0px;
    font-size: 30px;
    padding: 16px;
    transition: margin-right 0.5s, margin-left 0.5s;
    width: 100%;

    .bg_image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -55%);


        }

        .logo {
            display: flex;
            position: relative;
            top: -13%;
            -webkit-filter: drop-shadow(0 0 10px #000);
            filter: drop-shadow(0 0 10px #000);

        }
    }
}

.openbtn:hover {
    color: #444;
}

.friends_bar {
    height: 90%;
    width: 0;
    position: fixed;
    display: flex;
    z-index: 1;
    top: 59px;
    right: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
    color: white;
    text-wrap: wrap;
}

.hover-area {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    z-index: 3;
}

.main_container {
    display: flex;
    cursor: pointer;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 45%;
    transition: transform 0.3s ease, filter 0.5s;
}

.main_container img {
    filter: drop-shadow(0 0 10px rgba(31, 31, 31, 0.5));
    transition: transform 0.3s ease, filter 0.5s;
}

.main_container:hover img {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    transform: scale(1.2);
}