@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Slab:wght@100..900&display=swap');


body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0A5D76;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main_body {
    height: 100vh;
    display: flex;
    flex-direction: row;

    .bg_image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -55%);


        }

        .logo {
            display: flex;
            position: relative;
            top: -10%;
            -webkit-filter: drop-shadow(0 0 10px #000);
            filter: drop-shadow(0 0 10px #000);

        }
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;


    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    a:hover {
        color: #f1f1f1;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.openbtn {
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
}

#main {
    transition: margin-left .5s;
    font-size: 30px;
    padding: 16px;

    .header {
        width: 1900px;
        display: flex;
        flex-direction: row;
        color: white;
        -webkit-filter: drop-shadow(0 0 10px #000);
        filter: drop-shadow(0 0 10px #000);
        align-items: center;
        font-family: 'Righteous', cursive;

        span {

            padding: 10px 15px;
            text-shadow: 2px 2px 4px #000;
            font-weight: 800;
        }


        .profile_header {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: right;
            font-size: 22px;
            font-weight: 300;
            padding: 10px 15px;
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 500;
            line-height: 0.8;

            img {

                border-radius: 50%;
                border: 2px solid rgba(255, 255, 255, 0.5);
                margin: 0 auto;
                margin-right: 20px;
            }
            
            .text_profile{
                display: flex;
                flex-direction: column; 
                padding-top: 8px;
                padding-right: 10px;
                align-items:flex-start;
            }

            .status_container {
                display: flex;
                align-items: center;
            }

            .status-circle {
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-right: 2px;
            }

            .online {
                background-color: #43B581;
            }

            .away {
                background-color: #FAA61A;
            }

            .offline {
                background-color: #747F8D;
            }

            .status-text {
                font-weight: 100;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: bold;
            }
        }

    }
}

.openbtn:hover {
    color: #444;
}